.profile {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}

.profile-image {
  position: relative;
  width: 150px;
  height: 150px;
  margin: 0 auto 20px;
  /* Margin diubah untuk memberi ruang antara gambar profil dan tombol */
  overflow: hidden;
  border-radius: 50%;
  border: 5px solid #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.profile-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Perbaikan untuk tombol Change Photo dan Save */
.profile .btn-primary,
.profile .btn-success {
  width: 150px;
  /* Atur lebar tombol */
  margin-top: 10px;
  /* Atur margin atas untuk jarak di antara tombol */
}

/* Atur posisi tombol Save agar sejajar dengan tombol Change Photo */
.profile .btn-success {
  margin-left: 10px;
  /* Atur margin kiri untuk jarak di antara tombol */
}

.profile-details {
  text-align: center;
}

.profile-details h4 {
  color: #333;
  font-weight: bold;
}

.form-control {
  border-color: #ccc;
  background-color: #f8f9fa;
}

.btn-primary {
  background-color: #333;
  border-color: #333;
}

.btn-primary:hover {
  background-color: #555;
  border-color: #555;
}

@media (max-width: 576px) {
  .profile-image {
      width: 120px;
      height: 120px;
  }

  /* Untuk layar kecil, atur lebar tombol sesuai kebutuhan */
  .profile .btn-primary,
  .profile .btn-success {
      width: 100%;
      /* Tombol mengambil lebar penuh */
  }

  /* Atur margin bawah tambahan untuk memberi ruang di antara tombol */
  .profile .btn-primary,
  .profile .btn-success {
      margin-bottom: 10px;
  }
}