<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Zaras.wear</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="../static/assets/img/favicon.png" rel="icon">
  <link href="../static/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Roboto:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Work+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
    rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="../static/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="../static/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="../static/assets/vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
  <link href="../static/assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="../static/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="../static/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="../static/assets/css/main.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: UpConstruction - v1.3.0
  * Template URL: https://bootstrapmade.com/upconstruction-bootstrap-construction-website-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  {% include 'navbar.html' %}

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="hero">

    <div class="info d-flex align-items-center">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-6 text-center">
            <h2 data-aos="fade-down"><span>Zaras.wear</span></h2>
            <p data-aos="fade-up">Tampil modis, elegan, dan happy setiap hari bareng Zaras.wear!</p>
          </div>
        </div>
      </div>
    </div>

    <div id="hero-carousel" class="carousel slide" data-bs-ride="carousel" data-bs-interval="5000">

      <div class="carousel-item active" style="background-image: url(../static/assets/img/about_2.png);">
      </div>

    </div>

  </section><!-- End Hero Section -->

  <main id="main">

     <section id="contact" class="contact">
      <div class="container aos-init aos-animate" data-aos="fade-up" data-aos-delay="100">

        <div class="row gy-4">
          <div class="col-lg-6">
            <div class="info-item  d-flex flex-column justify-content-center align-items-center">
              <i class="bi bi-clock"></i>
              <h3>20.30-23.00 | Hari Senin-Sabtu </h3>
              <p>Jam Live Zaras.wear</p>
            </div>
          </div><!-- End Info Item -->

          <div class="col-lg-6">
            <div class="info-item  d-flex flex-column justify-content-center align-items-center">
              <i class="bi bi-tiktok"></i>
              <h3>@Zahrasucirr| @Zaras.wear</h3>
              <p>Akun Live Zaras.wear</p>
            </div>
          </div><!-- End Info Item -->

        </div>
      </div>
    </section>

        <!-- ======= Breadcrumbs ======= -->
        <div id="promoSection" style="background-image: url('../static/assets/img/PROMO\ 8.8.png');">
          <div class="promoContent">
            <!-- Content for the promo section if needed -->
          </div>
        </div>

   <!-- ======= Services Section ======= -->
    <section id="services" class="services section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <h2>Produk</h2>
          <p>Memberikan koleksi pakaian wanita modis, elegan, dan fashionable untuk kamu!</p>
        </div>

        <div class="row gy-4">

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
            <div class="service-item  position-relative">
              <div class="icon">
                <i class="fa-solid fa-shirt"></i>
              </div>
              <h3>Atasan</h3>
              <p>Mix & match atasan modern yang bikin kamu tampil fresh dan fashionable.</p>
              <a href="/atasan" class="readmore stretched-link">Selengkapnya <i
                  class="bi bi-arrow-right"></i></a>
            </div>
          </div><!-- End Service Item -->

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
            <div class="service-item position-relative">
              <div class="icon">
                <i class="fa-solid fa-shirt"></i>
              </div>
              <h3>Dress</h3>
              <p>Tampil anggun dengan koleksi dress elegan yang nyaman dipakai sepanjang hari.</p>
              <a href="/dress" class="readmore stretched-link">Selengkapnya <i
                  class="bi bi-arrow-right"></i></a>
            </div>
          </div><!-- End Service Item -->

          
                    <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
            <div class="service-item position-relative">
              <div class="icon">
                <i class="fa-solid fa-shirt"></i>
              </div>
              <h3>Hijab</h3>
              <p>Lengkapi penampilanmu dengan hijab stylish yang simple namun tetap syari.</p>
              <a href="/hijab" class="readmore stretched-link">Selengkapnya <i
                  class="bi bi-arrow-right"></i></a>
            </div>
          </div><!-- End Service Item -->

        
          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="400">
            <div class="service-item position-relative">
              <div class="icon">
                <i class="fa-solid fa-shirt"></i>
              </div>
              <h3>Outwear</h3>
              <p>Jaga gaya tetap chic dengan outwear trendy yang pas untuk segala suasana.</p>
              <a href="/outwear" class="readmore stretched-link">Selengkapnya <i
                  class="bi bi-arrow-right"></i></a>
            </div>
          </div><!-- End Service Item -->
           
    <!-- ======= Our Projects Section ======= -->
    <section id="projects" class="projects">
      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <h2>Ispirasi Outfit</h2>
        </div>

        <div class="portfolio-isotope" data-portfolio-filter="*" data-portfolio-layout="masonry"
          data-portfolio-sort="original-order">

          <ul class="portfolio-flters" data-aos="fade-up" data-aos-delay="100">
            <li data-filter="*" class="filter-active">Semua</li>
           
          </ul><!-- End Projects Filters -->

          <div class="row gy-4 portfolio-container" data-aos="fade-up" data-aos-delay="200">

            <div class="col-lg-4 col-md-6 portfolio-item filter-klinik">
              <div class="portfolio-content h-100">
                <img src="../static/assets/img/ootd_atasan.jpeg" class="img-fluid" alt="">
                <div class="portfolio-info">
                  <h4>Atasan</h4>
                  <p>Perpaduan atasan kemeja dengan celana bewarna putih dan kerudung bewarna putih memberikan kesan elegan yang manis</p>
                  <a href="../static/assets/img/ootd_atasan.jpeg" title="Perpaduan atasan kemeja dengan celana bewarna putih dan kerudung bewarna putih memberikan kesan elegan yang manis"
                    data-gallery="portfolio-gallery-remodeling" class="glightbox preview-link"><i
                      class="bi bi-zoom-in"></i></a>
                </div>
              </div>
            </div><!-- End Projects Item -->

            <div class="col-lg-4 col-md-6 portfolio-item filter-klinik">
              <div class="portfolio-content h-100">
                <img src="../static/assets/img/ootd_vest.jpeg" class="img-fluid" alt="">
                <div class="portfolio-info">
                  <h4>Celana dan Rok</h4>
                  <p>Perpaduan blouse dan vest coklat dipadukan dengan rok putih memberikan kesan feminim</p>
                  <a href="../static/assets/img/ootd_vest.jpeg" title="Perpaduan blouse dan vest coklat dipadukan dengan rok putih memberikan kesan feminim"
                    data-gallery="portfolio-gallery-construction" class="glightbox preview-link"><i
                      class="bi bi-zoom-in"></i></a>
                </div>
              </div>
            </div><!-- End Projects Item -->

            <div class="col-lg-4 col-md-6 portfolio-item filter-klinik">
              <div class="portfolio-content h-100">
                <img src="../static/assets/img/ootd_dress.jpeg" class="img-fluid" alt="">
                <div class="portfolio-info">
                  <h4>Dress</h4>
                  <p>Perpaduan Dress berwarna biru dan pashmina silk memberi kesan mewah dan elegan </p>
                  <a href="../static/assets/img/ootd_dress.jpeg" title="Perpaduan Dress berwarna biru dan pashmina silk memberi kesan mewah dan elegan "
                    data-gallery="portfolio-gallery-repairs" class="glightbox preview-link"><i
                      class="bi bi-zoom-in"></i></a>
                </div>
              </div>
            </div><!-- End Projects Item -->

           

          </div><!-- End Projects Container -->

        </div>

      </div>
    </section><!-- End Our Projects Section -->

  </main><!-- End #main -->

  {% include 'footer.html' %}

  <a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i
      class="bi bi-arrow-up-short"></i></a>

  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="../static/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../static/assets/vendor/aos/aos.js"></script>
  <script src="../static/assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="../static/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="../static/assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="../static/assets/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="../static/assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="../static/assets/js/main.js"></script>

</body>

</html>